<form #form="ngForm" novalidate>
    <div class="form-group" [class.has-error]="nombre.invalid && nombre.dirty">
        <label class="control-label">Nombre</label>
        <input #nombre="ngModel" type="text" name="nombre" required
               class="form-control" [(ngModel)]="model.nombre" />
        <div *ngIf="nombre.invalid && nombre.dirty" class="alert alert-danger">
            El nombre es obligatorio
        </div>
    </div>
    <div class="form-group" [class.has-error]="proveedorValidateError">
        <label class="control-label">Proveedor</label>
        <select class="form-control" 
                name="proveedor" 
                (change)="validateProveedoresSelect(proveedor.value)"
                [(ngModel)]="model.proveedor"
                #proveedor="ngModel">
            <!--<option value="0">Seleccione</option>-->
            <option *ngFor="let proveedor of proveedores" [ngValue]="proveedor">
                {{proveedor.nombre}}
            </option> 
        </select>
    </div>
</form>
<h3>Proveedores: {{proveedores | json}}</h3>
<h3>Model: {{model | json}}</h3>
<h3>Model.proveedor: {{model.proveedor | json}}</h3>
<h3>Form: {{form.value | json}}</h3> 
<h3>nombre: {{nombre.className}}</h3>  